$landing-page: linear-gradient(0deg, #554B7B 36.17%, #47C2AC 89.43%);

html {
    height: 100vh;
}
body {
    text-align: center;
    background: $landing-page;
    color: white;
    height: 100%;
}
#root, .App {
    height: 100%;
}
