$header: rgba(58, 187, 171, 0.70);
$botbubble: rgba(144, 220, 206, 0.14);;
$userbubble: linear-gradient(180deg, rgba(89, 7, 109, 0.8) 58.33%, rgba(80, 8, 137, 0.8) 100%);

$botbubblefont: #595959;

$dark: #453a94;
$bot-text: #7028e4;
$user-text: #e5b2ca;
$red: #ff7871;
$red-dark: #db0035;
$shadow: rgba(#f43b47,0.4);
$stroke: 4px;
$br: 3rem;
$dot-size: 9px;

$inner-margin: 15px;

$avatar-size: 52px;

$avatar-url: "../header/chatlogo.svg";
$bg-url: "https://zephyo.github.io/22Days/code/10/graphics/manu-franco-unsplash.jpg";
$header-url: "https://zephyo.github.io/22Days/code/10/graphics/rikkakuma.gif";

$snap: cubic-bezier(0.36, -0.04, 0.15, 1.64);

$highlight1: rgba(255, 255, 255, 0.2);
$highlight: rgba(255, 255, 255, 0.5);

h1 {
  font-size: 7vh;
}

h2 {
  font-size: 4.5vh;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-attachment: fixed;
}

#app,
body,
.app-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  .chat-container {
    animation: fade 0.5s ease 0.2s both;
    flex: 1 1 70vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    .chat-header {
      padding: 0 1rem;
      border-bottom: 0;
      flex: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      background: $header;
      &__left {
        width: 139px;
        height: 58px;
      }
      &__right {
        width: 130px;
        background-blend-mode: color-dodge;
        //opacity: 0.2;
        //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .msg-container {
      background: white;
      padding: $inner-margin $inner-margin 0 $inner-margin;
      flex: auto;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      .user-message-container {
        align-self: flex-end;
        width: 100%;
      }
      .bot-message-container {
        flex: none;
        display: flex;
        .bot-avatar {
          background-image: url($avatar-url);
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          width: $avatar-size;
          height: $avatar-size;
          margin-right: 1vw;
        }
        &:first-child {
          .chat-bubble {
            animation: pop 0.4s $snap 0.9s both;
          }
        }
      }
      .chat-bubble {
        display: inline-block;
        border-radius: $br;
        padding: 0.5rem 1.3rem;
        margin: 0.5rem 0;
        max-width: 60%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        opacity: 0;
        animation: pop 0.4s $snap forwards;
        will-change: transform;
        color: white;
        &.user {
          float: right;
          border-top-right-radius: 0;
          background: $userbubble;
          color: $user-text;
          transform-origin: top right;
          color: white;
          font-size: 14px;
          text-align: left;
        }
        &.bot {
          background: $botbubble;
          color: $botbubblefont;
          transform-origin: top left;
          margin-left: 0.5rem;
          font-size: 14px;
          text-align: left;
          margin: auto 0;
        }
      }
    }

    .input-container {
      animation: up 0.35s $snap 0.5s both;
      border: 3px #7CCABC solid;
      flex: none;
      height: 14vh;
      max-height: 100px;
      background: white;
      display: flex;
      justify-content: stretch;
      border-radius: 2rem;
      //transition: background 0.3s ease;
      input {
        font-weight: 500;
        flex: auto;
        border: none;
        font-family: "Arial";
        color: black;
        font-size: 1rem;
        padding: 1.5rem;
      }

      .input-submit {
        margin: 2vh;
        background: #7271AB;
        border: none;
        border-radius: 1rem;
        box-shadow: 4px 4px lightgrey;
        width: 10vh;
        position: relative;
        &:after {
          content: "";
          width: 0.5rem;
          height: 0.5rem;
          border: 5px solid white;
          border-left: 0;
          border-bottom: 0;
          transform: rotate(45deg);
          position: absolute;
          top: calc(50% - 0.5rem);
          left: calc(50% - 0.5rem);
        }
      }
    }
  }
}
#chat {
  overflow-wrap: break-word;
  border-radius: 2rem;
}
.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url($bg-url) no-repeat 0 0;
  filter: blur(5vh);
  background-size: cover;
  background-position: center;
}

@keyframes pop {
  from {
    opacity: 0;
    transform: scale(0.66);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
	from
  {		
    transform: scale(0);
  }
	to
	{	
    transform: none;
  }
}

@keyframes up {
	from
  {		
    opacity: 0;
		transform: translateY(1rem);
  }
	to
	{	
    opacity: 1;
		transform: none;
  }
}
#spotify {
  width: 100%;
  height: 5rem;
}
.player {
  &__loginPage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
      font-family: 'Strait', sans-serif;
      text-decoration: none;
      font-weight: bold;
      font-size: 3rem;
    }
  }
}
